
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  padding: 0.5rem;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 150ch;
    margin-inline: max(1em, 10%);
  }

nav {
  width: 100%;
  display: flex;
  margin-bottom: 5%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.2em;
}

nav a:hover{
  border-bottom: 0.4em solid var(--color-accent);
  color: var(--color-accent);
  transition: color 0.3s, border-bottom-color 0.3s;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

:root {
  --color-accent: oklch(69.68% 0.2585 159.04)
}


form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin: 0 auto;
}

label{
  display: contents;

}

input, textarea {
  width: 100%;
  padding: 0.5rem;
}

button{
  grid-column: 1 / -1;
  justify-self: center; 
}

div.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

h2 {
  margin: 0;
  line-height: 1.1;
  text-wrap: balance;
}

h1, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* four equal colums */
  gap: 10px;
  max-width: 600px;
  margin: auto;
}

#profile-stats {
  text-align: center;
}

dt {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #6c757d; /* Grey text */
  grid-row: 1; /* Forces it to the first row */
}

dd {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  grid-row: 2; /* Forces it to the second row */
}